html,
body,
main {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}
#texture {
    /**
     * When you attach events (e.g. key or mouse events) directly to the canvas,
     * you have to allow pointer events to bubble through the texture element, 
     * because the canvas element lies underneath the texture element.
     *
     * Alternatively, you could attach events directly to the texture element.
     *
     * Note that the "pointer-events" property it still marked as experimental, 
     * even though it is supported by all major browsers.
     */
    /* pointer-events: none; */
    position: fixed;
    z-index: 99;
    top: -100%;
    left: -100%;
    margin: 0;
    padding: 0;
    width: 200%;
    height: 200%;
}
